md-branch.md-THEME_NAME-theme {
  .md-branch-icon svg {
    fill: '{{foreground-2}}';
  }

  &.md-open:not(.md-tip) {
    & > .md-branch-inner {
      border-bottom-color: '{{foreground-4}}';
    }
  }

  &.md-2-line .md-branch-text,
  &.md-3-line .md-branch-text {
    h3, h4 {
      color: '{{foreground-1}}';
    }
    p {
      color: '{{foreground-2}}';
    }
  }


  &.md-checkbox-enabled {
    .checkbox-icon {
      border-color: '{{foreground-2}}';
    }


    // selected
    &[selected] > .md-branch-inner {
      .checkbox-icon {
        border-color: '{{foreground-2}}';
        background-color: '{{primary-color-0.87}}';

        &:after {
          border-color: '{{primary-contrast-0.87}}';
        }
      }
    }
  }


  &:not([disabled]) {
    .md-branch-inner {
      background-color: '{{background-hue-1}}';
      &:hover {
        background-color: '{{background-500-0.2}}';
      }
      &.md-icon-button:hover {
        background-color: transparent;
      }
    }

    &.md-focused {
      outline: none;

      & >.md-branch-inner {
        background-color: '{{background-100}}';
        // border-color: '{{primary-color-0.36}}';
      }
    }
  }

  &.md-tip {
    .md-branch-inner {
      // background-color: '{{background-hue-2}}';
    }
  }
}
