md-tree {
  md-branch {
    .md-branch-inner {
      background-color: '{{background-hue-1}}';
    }

    .md-branch-icon svg {
      fill: '{{foreground-2}}';
    }

    &.md-tip {
      .md-branch-inner {
        background-color: '{{background-200}}';
      }

      .md-branch-icon svg {
        fill: '{{foreground-4}}';
      }
    }

    &.md-open {
      & > .md-branch-inner {
        border-bottom-color: '{{foreground-4}}';
      }
    }
  }

  md-branch.md-2-line .md-branch-text,
  md-branch.md-3-line .md-branch-text {
    h3, h4 {
      color: '{{foreground-1}}';
    }
    p {
      color: '{{foreground-2}}';
    }
  }
}
